
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://acdn.mitiendanube.com/stores/001/979/534/themes/gardener/2-slide-1717857919837-3751700809-4a6a73b2ee98ac0f93d6446816a329681717857925-1920-1920.webp?2468076577" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://acdn.mitiendanube.com/stores/001/979/534/themes/gardener/2-slide-1717857919837-308151873-6f7eaaff6a1ca6eb1badf22742dee1e61717857927-1920-1920.webp?2468076577" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://acdn.mitiendanube.com/stores/001/979/534/themes/gardener/2-slide-1717857919837-8666549472-481b0877fb072f6344dd4a6697520c131717857929-1920-1920.webp?2468076577" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<app-card>

</app-card>